<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



	<bean id="librarian" class="com.xworkz.di.component.Librarian">

		<property name="Gender" value="F"></property>


	</bean>
	<bean id="library" class="com.xworkz.di.component.Library" scope="">
		<constructor-arg ref="librarian"></constructor-arg>
		<property name="Name" value="old library"></property>
	</bean>





</beans>